{% extends 'base.html.twig' %}

{% block body %}

    <div style="display: flex; align-items: center; justify-content: center; height: calc(100vh - 120px);">
        <img src="{{qrCode}}" alt="" style="max-height: 80%; max-width: 100%;">
    </div>

{% endblock %}