{% extends 'base.html.twig' %}

{% block body %}

  <div class="mb-3">
    <label for="cameras" class="form-label">Camera sélectionnée :</label>
    <select id="cameras" class="form-select" aria-label="Default select example"></select>
  </div>

  <div id="reader" width="600px"></div>

{% endblock %}
